.nav {
	&__header {
		position: sticky;
	}

	&__nav {
		align-items: end;
		display: grid;
		grid-gap: 1rem;
		grid-template: repeat(2, auto) / 1fr;
		text-align: center;
		
		@media screen and (min-width: 520px) {
			grid-template: auto / 1fr auto;
			text-align: left;
		}
	}

	&__site-name {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
		margin: 0;

		a {
			color: var(--color);
			text-decoration: none;
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		gap: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen and (min-width: 520px) {
			justify-items: flex-end;
		}

		li {
			margin: 0;
			padding: 0;
		}

		&__link {
			color: var(--color);
			font-family: var(--sans-serif);
			font-size: 1rem;
			text-decoration: none;
		}
	}
}
