h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans-serif);
	margin: 3rem 0 1.4rem;
	font-weight: 300;
	line-height: 1.3;
}

p, ol, ul {
	font-family: var(--serif);
	font-weight: 300;
	margin-bottom: 1rem;
}

h1 {
	font-size: #{'min(10vw, 3rem)'};
	font-weight: 700;
	margin-top: 0;
}

h2 {
	border-bottom: 1px solid var(--color);
	font-family: var(--serif);
	font-size: #{'min(8vw, 2.4rem)'};
	font-style: italic;
	font-weight: 300;
	margin-bottom: 1rem;
	
	em {
		font-style: normal;
	}
}

h3 {
	font-size: #{'min(6.5vw, 2rem)'};
	font-weight: 700;
}


h4 {
	font-size: 1.6rem;
}


h5 {
	font-size: 1.25rem;
}

small, .text--small {font-size: 0.75rem;}

ul,
ol {
	padding: 0;
}

ul {
	list-style: circle;
}

ol {
	list-style: decimal-leading-zero;
}

li {
	margin-left: 1.5rem;
}

em {
	font-style: italic;
}

strong {
	font-style: bold;
}

a {
	color: inherit;
}

sub,
sup {
	font-size: 0.75rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

figcaption {
	font-family: var(--serif);
	font-size: 0.75rem;
	font-style: italic;
	text-align: center;
}

blockquote {
	border-left: 2px solid var(--color);
	padding-left: 1rem;
}

hr {
	background-color: var(--color);
	border: 0;
	color: var(--color);
	height: 1px;
	margin-bottom: 1rem;
}

.heading-anchor {
	color: var(--gray);
	font-size: 0.7em;
	opacity: 0.7;
	position: relative;
	text-decoration: none;
	top: -0.5em;
	vertical-align: baseline;
}
