.writing {
    &__splash {
        align-content: center;
        bottom: 0;
        display: grid;
        height: 95vh;
        justify-items: center;
        grid-template-columns: 1fr;

        &__background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
    
            img {
                height: 100vh;
                object-fit: cover;
                opacity: 0.5;
                width: 100vw;
            }
        }
    }

    &__title {
        &--with-splash {
            background-color: var(--background-color);
            background-blend-mode: overlay;
            font-size: calc(1rem + 4vw);
            margin: 0;
            padding: 1rem 2rem;
        }
    }
    
    &__date {
        &--with-splash {
            background-color: var(--background-color);
            background-blend-mode: overlay;
            margin: 0;
            padding: 1rem 2rem 1.4rem;
        }

    }

    &__collections {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(#{"min(20rem, 100%)"}, 1fr));
    }

    &__collection {
        &__title {
            margin-bottom: 0;
        }

        &__list {
            line-height: 1.4;
            padding: 0;

            li {
                padding: calc(0.7 * 1em) 0;
            }
        }
    }
}