@import './components/_fonts';

:root {
	--light-bg: rgb(249, 244, 240);
	--light-color: rgb(28, 24, 20);
	--light-bg-transparent: rgba(249, 244, 240, 0.85);
	--light-color-transparent: rgba(28, 24, 20, 0.8);
	--gray: #999;
	--dark-bg: var(--light-color);
	--dark-color: var(--light-bg);
	--dark-bg-transparent: var(--light-color-transparent);
	--dark-color-transparent: var(--light-bg-transparent);
	--blue-highlight: rgb(7, 137, 236);
	--red-highlight: rgb(237, 102, 116);
	--pink-highlight: rgb(255, 125, 233);
	--purple-highlight: rgb(179, 146, 240);
	--green-highlight: rgb(133, 232, 157);

	--max-width: 800px;
	--background-color: var(--light-bg);
	--background-color-transparent: var(--light-bg-transparent);
	--color: var(--light-color);
	--color-transparent: var(--light-color-transparent);
	--color-highlight: var(--blue-highlight);
	--serif: 'Source Serif Pro', serif;
	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	--font-size-root: 112.5%; // 18px
	--line-height: 1.75;
	--nav-height: 74px;
	--info: var(--blue-highlight);
	--warning: var(--red-highlight);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--dark-bg);
		--background-color-transparent: var(--dark-bg-transparent);
		--color: var(--dark-color);
		--color-transparent: var(--dark-color-transparent);
		--color-highlight: var(--red-highlight);
	}
}

html {
	background-color: var(--background-color);
	color: var(--color);
	font-size: var(--font-size-root);
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

html,
body {
	font-family: var(--sans-serif);
	line-height: var(--line-height);
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.layout {
	display: grid;
	grid-gap: 1rem;
	grid-template: auto 1fr auto / 1fr;
	min-height: 100vh;
}

.content {
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 0 1rem;
	width: 100%;
}

@import './_typography';
@import './_code';
@import './components/_banner';
@import './components/_buttons';
@import './components/_cards';
@import './components/_footer';
@import './components/_images';
@import './components/iframe';
@import './components/_inline-newsletter';
@import './components/_navigation';
@import './layouts/_home';
@import './layouts/_pages';
@import './layouts/_projects';
@import './layouts/_writing';
@import './pages/_about';
