.footer {
	background-color: var(--background-color);
	color: var(--gray);
	font-size: 0.75rem;

	&__content {
		display: grid;
		grid-template: auto / 1fr auto;
		margin: 0 auto 1rem;
		max-width: var(--max-width);
		padding: 0 1rem;
	}

	&__social-links {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: flex-end;

		svg {
			height: 0.75rem;
		}
	}

	a {
		color: inherit;
	}
}
