<footer class="footer">
	<div class="footer__content">
		<div>© {{ metadata.title }} {% year %}</div>
		<div>
			Find me at
			<a
				href="https://twitter.com/{{metadata.author.twitter}}"
				target="_blank"
				rel="noopener noreferrer"
				>Twitter</a
			>
			and
			<a
				href="https://github.com/{{metadata.author.github}}/"
				target="_blank"
				rel="noopener noreferrer"
				>GitHub</a
			>.
		</div>
</div>
</footer>
