.nav {
	&__header {
		background-color: var(--background-color-transparent);
		grid-area: 'nav';
		padding: 1rem 0;
	}

	&__nav {
		align-items: end;
		display: grid;
		grid-gap: 0.5rem;
		grid-template: repeat(2, auto) / 1fr;
		margin: 0 auto;
		max-width: var(--max-width);
		padding: 0 1rem;
		text-align: center;

		@media screen and (min-width: 520px) {
			align-items: baseline;
			display: flex;
			gap: 0.5rem;
			text-align: left;
		}
	}

	&__site-name {
		font-family: var(--sans-serif);
		font-size: 1.4rem;
		font-weight: 700;
		margin: 0;

		a {
			color: var(--color);
			text-decoration: none;
		}

		@media screen and (min-width: 520px) {
			flex: 1;
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		gap: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen and (min-width: 520px) {
			justify-items: flex-end;
		}

		li {
			margin: 0;
			padding: 0;
		}

		&__link {
			color: var(--color);
			font-family: var(--sans-serif);
			font-size: 1rem;
			text-decoration: none;
		}
	}
}
