*:not(pre) > code {
	white-space: nowrap;
}

code,
pre {
	background: var(--code-background);
	border-radius: 0.375em;
	color: var(--code-color-04);
	font-family: var(--mono);
	font-size: 16px;
	hyphens: none;
	text-align: left;
}

pre {
	line-height: 1.5;
	margin-bottom: 1rem;
	max-width: calc(100vw - 2rem);
	overflow-x: auto;
	padding: 1rem;
	tab-size: 2;
	width: 100%;
	white-space: pre-wrap;
	word-break: normal;
	word-spacing: normal;
	word-wrap: break-word;
}

*:not(pre) > code {
	background: var(--background-color);
	border: 1px solid var(--color-highlight);
	color: var(--color);
	font-size: 0.8125em;
	padding: 0.1rem 0.22rem 0.08rem;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: var(--code-color-09);
}

[class*='language-'] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: var(--code-color-06);
}

.token.attr-name {
	color: var(--code-color-10);
}

.token.attr-value {
	color: var(--code-color-05);
}

.token.attribute {
	color: var(--code-color-05);
}

.token.boolean {
	color: var(--code-color-06);
}

.token.builtin {
	color: var(--code-color-10);
}

.token.cdata {
	color: var(--code-color-02);
}

.token.char {
	color: var(--code-color-02);
}

.token.class {
	color: var(--code-color-10);
}

.token.class-name {
	color: var(--code-color-08);
}

.token.color {
	color: var(--code-color-08);
}

.token.comment {
	color: var(--code-color-01);
}

.token.constant {
	color: var(--code-color-06);
}

.token.deleted {
	color: var(--code-color-07);
}

.token.doctype {
	color: var(--code-color-01);
}

.token.entity {
	color: var(--code-color-07);
}

.token.function {
	color: var(--code-color-06);
}

.token.hexcode {
	color: var(--code-color-08);
}

.token.id {
	color: var(--code-color-06);
	font-weight: bold;
}

.token.important {
	color: var(--code-color-06);
	font-weight: bold;
}

.token.inserted {
	color: var(--code-color-02);
}

.token.keyword {
	color: var(--code-color-06);
	font-style: italic;
}

.token.number {
	color: var(--code-color-09);
}

.token.operator {
	color: var(--code-color-03);
}

.token.prolog {
	color: var(--code-color-01);
}

.token.property {
	color: var(--code-color-02);
}

.token.pseudo-class {
	color: var(--code-color-05);
}

.token.pseudo-element {
	color: var(--code-color-05);
}

.token.punctuation {
	color: var(--code-color-03);
}

.token.regex {
	color: var(--code-color-08);
}

.token.selector {
	color: var(--code-color-07);
}

.token.string {
	color: var(--code-color-05);
}

.token.symbol {
	color: var(--code-color-06);
}

.token.tag {
	color: var(--code-color-07);
}

.token.unit {
	color: var(--code-color-07);
}

.token.url {
	color: var(--code-color-09);
}

.token.variable {
	color: var(--code-color-07);
}
