<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head %}
	</head>
	<body class="layout">
		{% include components/navigation %}
		<main class="content">{{ content }}</main>
		{% include components/footer %}
	</body>
</html>
