---
layout: layouts/base.html
---

<article>
    {% if splash %}
        <div class="project__splash__background">
            {% image splash, splash_alt %}
        </div>
        <div class="project__splash">
            <h1 class="project__title--with-splash">{{ title }}</h1>
            <p class="project__date--with-splash">{{ page.date | readableDate }}</p>
        </div>
    {% else %}
        <h1 class="project__title">{{ title }}</h1>
        <p class="project__date">{{ page.date | readableDate }}</p>
    {% endif %}
    {{ content | safe }}
</article>
